.Portfolio{
   width: 100%;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.card-img {
    object-fit: cover;
    align-items: center;
}
.carousel-item>img{
     object-fit: scale-down;
   
}
.carousel-inner{
   margin: auto;
}
	/* @media only screen and (max-width: 680px) and (min-width: 375px) {
 .wrapper{
   margin-top: -49%;
 }
 .carousel-item{
    margin-top: 0;
 }
 .carousel-inner{
    margin-top: -40%;
 }
     
    } */