.card-img {
    object-fit: cover;
}
.carousel-item>img{
     object-fit: scale-down;
   
}
	@media only screen and (max-width: 680px) and (min-width: 400px) {
 .carousel-item{
    margin-top: 0;
 }
 .carousel-inner{
    margin-top: -40%;
 }
     
    }