	.footer {
  display: flex;
  align-items: center;
  }
.f-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 10px;
}
.f-icons {
   display: flex;
   gap: 4rem;
   transform: scale(0.5);
   
}


.f-icons > * {
  
  text-decoration: none;
  text-align: center;
}
.f-icons > *:hover {
  cursor: pointer;
}
.icon-text{
  gap: 1rem;
  font-size: 26px;
  color: ;
}
.icon-text{
text-decoration: none;
}
.f-text{
font-size: 1.6rem;
padding: 10px;
}
.f-cont-text{
  font-size: 2rem;
  color: #ad8801;
}
@media only screen and (max-width: 896px) and (min-width: 360px){
  .footer{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
   
}
.f-content {
  transform: scale(0.7);
  align-items: center;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
}

